{# empty Twig template #}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>{% block title %}Acceuil{% endblock%}</title>
        <meta charset="UTF-8">
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheet %}<link href="{{ asset('bundles/ywammain/css/mainStyle.css')}}" rel="stylesheet" type="text/css"> {% endblock %}
        {# {% block stylesheet %}<link href="{{ asset('../src/Ywam/MainBundle/public/css/mainStyle.css')}}" rel="stylesheet" type="text/css"> {% endblock %}#}
        <meta name="viewport" content="width=device-width">
    </head>
    
    <body>
        <?php
        // put your code here
        ?>
        <header>
            logo assos
            
            <nav>
            <ul>
                <li><a href="{{ path('_ywam_admin_index')}}"> Acceuil | Liste  articles</a></li>
                <li><a href="{{ path('_ywam_admin_ajouter_article')}}"> Ajouter Article</a></li>
            </ul>
        </nav>
        </header>

        
        <section class="MainContainner">
           {% block MainContainner %}{% endblock%}                      
        </section>
        
        <footer>
            <p>Copyright Ronald - Tous droits réservés
            <a href="#">A Faire plus tard</a></p>
        </footer>
        {% block javascripts %}
           {# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.js')}}"></script>#}
        {% endblock %}
    </body>
</html>



