{# empty Twig template #}
{% extends "YwamMainBundle::layout.html.twig" %}

{% block extends_stylesheets %}
<style type="text/css" media="screen">
#slider1 {
    width: 960px; /* important to be same as image width */
    height: 400px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}
.slider1Image   img{
    width: 960px; 
    height: 300px; 
    max-width: 100%;
    height: auto;
}

#slider1Content {
    width: 960px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
	display: none;
}
.slider1Image span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 694px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
	clear: both;
}

.slider1Image span strong {
    font-size: 14px;
}
.left {
	top: 300px;
    left: 0;
	width: 960px !important;
	height: 100px;
}
.right {
	right: 0;
	bottom: 0;
	width: 90px !important;
	height: 290px;
}
.down  {
    right: 0;
    bottom: 0;
    width: 960px !important;
    height: 100px;
    
}
ul { list-style-type: none;}
</style>
<!-- JavaScripts-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/ywammain/js/s3Slider.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#slider1').s3Slider({
            timeOut: 4000 
        });
    });
</script>

{% endblock %}



{% block MainConatainner %}

{#-----------------------------------Le Slide Schows-----------------------------------------------------------#}
<div class="row clearfix">
    <div id="slider1">
        <ul id="slider1Content">
            
            {% for article in articles %}
            <li class="slider1Image" >
                <a href="{{ path('_ywam_public_afficher_article', {'id': article.id}) }}"><img src="{{ asset('uploads/documents')~"/"~article.id~"."~article.path }}" alt="1" /></a>
                <span class="left"><strong>titre : {{article.titre}}</strong><br />auteur: {{article.auteur}}...</span>
            </li>
            {% endfor %}          
            <div class="clear slider1Image"></div>
            
        </ul>
    </div>    
</div>

{# ----------------------------------------------Deuxime bout de page---------------------------------------------- #}
<div class="row clearfix">
    {# -----------------------------Element du centre----------------------------- #}
	<div class="col-md-8 column">
            bla bla
	</div>
    {# -----------------------------Element de droite----------------------------- #}
	<div class="col-md-4 column">
            <div class="flex-video widescreen" style="margin: 0 auto;text-align:right;">
                <iframe  allowfullscreen="" src="http://www.youtube.com/embed/joso6k4Y-uI?autoplay=1" frameborder="0"></iframe>
            </div>
	</div>
</div>




{% endblock%}